body {
	overflow-x: hidden;
	background-color: #060606 /* almost black*/
}

table, th, td {
	position: relative;
	display: block;
	padding: 10px 15px
    margin-bottom -1px;
    background-color: #222222;
    border: 1px solid #282828;
    width: 600px;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 2px solid #888888;
	box-sizing: content-box;
	height: 0;
	min-width: 700px;
	float:center;
}

h2 {
    color:white;
    -webkit-margin-after: 0em;
    -webkit-margin-before: 0em;
    text-align: center;
}

h3 {
    color:white;
    -webkit-margin-after: 0em;
    -webkit-margin-before: 0em;
    text-align: center;  
}
h4 {
    color:white;
    -webkit-margin-after: 0em;
    -webkit-margin-before: 0em;
    text-align: center;   
}

.topnav {
  position: fixed;
  width: 100%;
  top: 0px;
  left:0px;
  max-height: 47.6px;
  overflow: hidden;
  background-color: #222222;
  z-index: 2;
}

.topnav a {
  float: left;
  color: #2a9fd6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 125px;
  position: fixed;
  z-index: 1;
  top:47.6px;
  left: 0px;
  background-color: #222222;
  overflow-x: hidden;
  overflow-y: hidden; /*unhide if want scroll bar vertical*/
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

#Contact {
	float: right;
	padding-right: 30px;
}

#alerts_header, #Cetus_header, #Sortie_header, #Void_header, 
#Syndicate_header,#Trader_header,#Darvo_header, #Invasion_header,
#Daily_header, #News_header{
	color: white;
}

.contactInfo {
	color: white;
	text-align: center;
	width: 500px;
	margin: 0 auto;
}

.sortie, .cetusNite, .alerts, .fissures, .darvo, .synTimer, .baroTimer{
    display: inline;
    min-width: 78px;
    padding: 3px 7px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #2a9fd6;
    border-radius: 10px;
    float: right;
    margin-right: 10px;
}

.alertsStart {
    display: inline;
    min-width: 78px;
    padding: 3px 7px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: gray;
    border-radius: 10px;
    float: right;
    margin-right: 10px;
}

.dailyTimer, .reward, .Tier, .timer, .syn {
	display: inline;
    min-width: 60px;
    padding: 3px 7px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: green;
    border-radius: 10px;
    float: right;
    margin-right: 10px;
}

.invasionsGreenLeft {
	display: inline;
    min-width: 60px;
    padding: 3px 7px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: green;
    border-radius: 10px;
    margin-left: 10px;
    position: absolute;
    top: -10px;
    left:0px;
}

.invasionsGreenRight {
	display: inline;
    min-width: 60px;
    padding: 3px 7px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: green;
    border-radius: 10px;
    margin-right: 10px;
    position: absolute;
    top: -10px;
    right: 0px;
}

.fissureMeso, .fissureAxi, .price{
	display: inline;
    min-width: 60px;
    padding: 3px 7px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: purple;
    border-radius: 10px;
    float: right;
    margin-right: 10px;
}

.fissureLith, .fissureNeo, .reward{
    display: inline;
    min-width: 60px;
    padding: 3px 7px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: green;
    border-radius: 10px;
    float: right;
    margin-right: 10px;
}

.cetus  {
	display: inline;
    min-width: 78px;
    padding: 3px 7px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: orange;
    border-radius: 10px;
    float: right;
    margin-right: 10px;
}

 #Cetus, #Daily, #Alerts, #Void, #Darvo, #News, #Syndicate, #Baro, #Invasions{
	border: 2px solid #2a9fd6;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 16px;
	margin: 0 auto;
	background-color: #222222;
	width: 800px;
}




#Sortie{
    border: 2px solid #2a9fd6;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 16px;
    margin: 0 auto;
    background-color: #222222;
    width: 800px;
    text-align: center;
}

#white {
	max-width: 400px;
	position: relative;
	display: inline-block;
	color: white;
	padding-left: 10px;
  	text-decoration: none;
  	font-size: 14px;
  	font-weight: bold;
}
#white2 {
    max-width: 400px;
    position: relative;
    display: inline-block;
    color: white;
    padding-left: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;

}
#whiteWeapon {
    width: 350px;
    position: relative;
    color: white;
    display: inline-block;
    padding-left: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: -10px;
    margin-top: 0px;
}

#whiteWeaponDesc {
    width: 350px;
    height: 100px;
    position: relative;
    color: white;
    display: inline-block;
    padding-left: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: -10px;
    margin-top: 0px;
}

.invasionsNode {
    max-width: 400px;
    display: inline;
    position: absolute;
    left: 30%;
    top: -5px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}



#sortieBoss, #voidTrader{
	max-width: 400px;
	position: relative;
	display: inline-block;
	color: #2a9fd6;
	padding-left: 10px;
  	text-decoration: none;
  	font-size: 18px;
  	font-weight: bold;
}

#wrapSortie {
	border: 1px solid white;
	border-radius: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.invasions {
    border: 1px solid white;
    border-radius: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    height: 60px;
}

#wrap {
	border: 1px solid white;
	border-radius: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	min-width: 750px;
    text-align: left;
}


/* Flex help: https://yoksel.github.io/flex-cheatsheet/#flex-wrap  */
.weaponWrap {
    display: inline-flex;
    align-items: flex-start;
    max-width: 375px;
    flex-wrap: wrap;
    border: 2px solid white;
    border-radius: 16px;
    margin: 5px 0px 5px 14px;
    min-height: 1550px;
}
#spaceHolder {
    width: 350px;
    height: 500px;
}


/*
.weaponWrap {
    display: inline-block;
    border: 2px solid white;
    border-radius: 16px;
    margin: 10px 0px 10px 14px;
    width: 375px;
    text-align: left;
} */

#weaponAlignment {
    float: left;
}

.itemWrap {
    border: 2px solid white;
    border-radius: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 750px;
    text-align: left;
}

#myProgress {
    width: 99%;
    background-color: red;
    border-radius: 10px;
    margin: 0px 0px 10px 3px;
}

#myBar {
    height: 30px;
    background-color: green;
    border-radius: 10px;
}

#container {
    position: relative;
}
